<!DOCTYPE html>
<html style="background-color: lightsteelblue;" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/stile2.css" />
	<meta charset="UTF-8">
	<title>Aggiungi giocatore</title>
</head>

<body>

	<h1>Aggiungi nuovo giocatore</h1>

	<form method="POST" th:action="@{/admin/giocatori}" th:object="${giocatore}">
		<input type="hidden" th:field="*{id}" />

		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" ></p>
		</div>

		<div>
			<label>Nome:</label>
			<input type="text" th:field="*{nome}" />
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome} "></span>
		</div>

		<div>
			<label>Cognome:</label>
			<input type="text" th:field="*{cognome}" />
			<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
		</div>

		<div>
		    <label for="dataDiNascita">Data di Nascita:</label>
		    <input type="date" 
		           id="dataDiNascita" 
		           name="dataDiNascita" 
		           th:value="${giocatore.dataDiNascita != null} ? ${#temporals.format(giocatore.dataDiNascita, 'yyyy-MM-dd')} : ''" />
		    <span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}" ></span>
		</div>

		<div>
			<label>Altezza:</label>
			<input type="number" th:field="*{altezza}" />
		</div>

		<div>
			<label for="ruolo">Ruolo giocatore:</label>
			<select id="ruolo" th:field="*{ruolo}">
				<option value="">-- Seleziona il ruolo --</option>
				<option th:each="ruoloEnum : ${ruoliDisponibili}" th:value="${ruoloEnum}" th:text="${ruoloEnum}">
					PORTIERE
				</option>
			</select>
			<span th:if="${#fields.hasErrors('ruolo')}" th:errors="*{ruolo}"></span>
		</div>

		<div>
		    <label for="squadra">Squadra di appartenenza:</label>
		    <select id="squadra" th:field="*{squadra.id}">
		        <option value="">-- Nessuna Squadra  --</option>
		        <option th:each="s : ${squadre}" 
		                th:value="${s.id}" 
		                th:text="${s.nome}">
		            Nome Squadra
		        </option>
		    </select>
		</div>
		<div>
			<button type="submit" name="action" value="save">Conferma</button>
		</div>

	</form>

</body>

</html>