<!DOCTYPE html>
<html style="background-color: lightsteelblue;">

<head>
	<link rel="stylesheet" href="css/stile2.css" />
	<title>

		Squadre
	</title>
</head>	
	<body>
	<h1>Lista squadre</h1>
		<div>
			<ul>
				<li style="color: darkslategrey; font-family: monospace; font-size: 15px;" th:each="squadra: ${squadre}">
					<a th:href="@{'/squadre/'+ ${squadra.id}}" th:text="${squadra.nome}"> Nome</a>
				</li>
			</ul>
		</div>
		<a style="color: red; font-family: monospace;" th:href="@{/}">Home</a>
	</body>
</html>