<!DOCTYPE html>
<html>

<head>
	<title>Squadre</title>
</head>

<body>
	<h1 th:text="${squadra.nome}">Nome squadra </h1>
	<div> Anno di fondazione: <span th:text="${squadra.annoFondazione}"> 1800</span>
	</div>
	 <div>
		Città: <span th:text="${squadra.città}"> città </span>
	</div>
	
	<h3>Giocatori</h3>
	<ul th:if="${not #lists.isEmpty(squadra.giocatori)}">
		<li th:each="giocatore : ${squadra.giocatori}">
			<a th:href="@{/giocatori/{id}(id=${giocatore.id})}" th:text="${giocatore.nome}+ ' ' + ${giocatore.cognome}">Nome
				Cognome</a>
		</li>
	</ul>
	
	<p th:if="${#lists.isEmpty(squadra.giocatori)}">Nessun giocatore presente.</p>

	<h3>Partite giocate</h3>
	<ul th:if="${not #lists.isEmpty(partite)}">
	    <li th:each="partita : ${partite}">
	       <span th:text="${partita.squadraCasa.nome} + ' '+ ${partita.squadraOspite.nome}"></span>
	    </li>
	</ul>
	
	<p th:if="${#lists.isEmpty(partite)}">Nessuna partita giocata.</p>
	

	<a th:href="@{/squadre}">Torna alla lista delle squadre</a>

</body>

</html>