<!DOCTYPE html>
<html style="background-color: lightsteelblue;" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/stile2.css" />
	<meta charset="UTF-8">
	<title>Aggiungi partita</title>
</head>

<body>

	<h1>Aggiungi Partita</h1>

	<form method="POST" th:action="@{/admin/partite}" th:object="${partita}">
		<input type="hidden" th:field="*{id}" />

		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>

		<div>
			<label for="squadraCasa">Squadra di casa:</label>
			<select id="squadraCasa" th:field="*{squadraCasa}">
				<option value="">-- Seleziona una squadra --</option>
				<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}">Roma</option>
			</select>

			<span th:if="${#fields.hasErrors('squadraCasa')}" th:errors="*{squadraCasa}"></span>
		</div>
		<div>
			<label for="squadraOspite">Squadra ospite:</label>
			<select id="squadraOspite" th:field="*{squadraOspite}">
				<option value="">-- Seleziona una squadra --</option>
				<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}">Roma</option>
			</select>

			<span th:if="${#fields.hasErrors('squadraOspite')}" th:errors="*{squadraOspite}"></span>
		</div>

		<div>
			<label for="programmazione">Programmazione:</label>
						<input type="datetime-local" 
						       id="programmazione" 
						       name="programmazione" 
						       th:value="${partita.programmazione != null} ? ${#temporals.format(partita.programmazione, 'yyyy-MM-dd''T''HH:mm')} : ''" />
			<span th:if="${#fields.hasErrors('programmazione')}" th:errors="*{programmazione}"></span>
		</div>

		<div>
			<label>GoalsHome:</label>
			<input type="number" th:field="*{goalsHome}" />
			<span th:if="${#fields.hasErrors('goalsHome')}" th:errors="*{goalsHome}"></span>
		</div>

		<div>
			<label>GoalsAway:</label>
			<input type="number" th:field="*{goalsAway}" />
			<span th:if="${#fields.hasErrors('goalsAway')}" th:errors="*{goalsAway}"></span>
		</div>


		<div>
			<label for="stato">Stato partita:</label>
			<select id="stato" th:field="*{stato}">
				<option value="">-- Seleziona stato --</option>
				<option th:each="statoEnum : ${statiDisponibili}" th:value="${statoEnum}" th:text="${statoEnum}">
					played
				</option>
			</select>
			<span th:if="${#fields.hasErrors('stato')}" th:errors="*{stato}"></span>
		</div>


		<div>
			<button type="submit" name="action" value="save">Conferma</button>
		</div>
		<button th:if="${partita.id != null}" 
					        type="submit" 
					        th:formaction="@{/admin/partite/{id}/delete(id=${partita.id})}"
					        onclick="return confirm('Sei sicuro di voler eliminare questa partita?');">
							Elimina Partita
										</button>
									</div>
	</form>

</body>

</html>