<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/stile2.css" />
	<title>

		Partite
	</title>
</head>

<body>
	<h1>Lista partite </h1>
	<div>
		<ul>
			<li th:each="partita : ${partite}">
				<a th:href="@{'/partite/'+ ${partita.id}}" th:text="${partita.squadraCasa.nome} + '-' + ${partita.squadraOspite.nome}" >Partita </a>
                -------<a th:href="@{/admin/partite/{id}/edit(id=${partita.id})}">Modifica</a>
			</li>
		</ul>
	</div>
	<a th:href="@{/admin/index}">Home</a>
</body>





</html>