<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/css/stile2.css" />
	<title>Giocatori</title>
</head>

<body>
	<h1 th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Nome giocatore</h1>
	<div style="color: darkslategrey; font-family: monospace; font-size: 15px;"> Data di nascita: <span th:text="${giocatore.dataDiNascita}"> 1990</span>
	</div>
	 <div style="color: darkslategrey; font-family: monospace; font-size: 15px;">
		Altezza: <span th:text="${giocatore.altezza}"> altezza </span>
	</div>
	<div style="color: darkslategrey; font-family: monospace; font-size: 15px;">
		Ruolo: <span th:text="${giocatore.ruolo}"> ruolo </span>
	</div>
	<div style="color: darkslategrey; font-family: monospace; font-size: 15px;">
	Squadra: <span th:text="${giocatore.squadra.nome}" > squadra </span>
</div>
	<a th:href="@{/squadre/{id}(id=${giocatore.squadra.id})}">Torna alla squadra</a>
<a th:href="@{/admin/giocatori}">Torna alla lista giocatori</a>
</body>

</html>