<!DOCTYPE html>
<html style="background-color: lightsteelblue;">

<head>
	<link rel="stylesheet" href="/css/stile2.css" />
	<title>Inserisci una squadra</title>
</head>


<body>
	<h1> Inserisci una nuova squadra</h1>
	<form method="POST" th:action="@{/admin/squadre}" th:object="${squadra}">
		<input type="hidden" th:field="*{id}" />
		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> </p> 
			  </div>
		<div>
			Nome: <input type="text" th:field="${squadra.nome}"/>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			Città: <input type="text" th:field="${squadra.città}" />
		</div>
		<div>
			Anno di Fondazione: <input type="text" th:field="${squadra.annoFondazione}" />
		</div>
		<div>
					<h2 style="color: crimson; font-family: monospace;">Scegli giocatore</h2>

					<!-- Mantiene i giocatore già aggiunti tra un submit e l'altro -->
					<th:block th:each="giocatore : *{giocatori}">
						<input type="hidden" name="giocatoriIds" th:value="${giocatore.id}" />
					</th:block>

					<select name="nuovoGiocatoreId">
						<option value="">-- Seleziona un giocatore --</option>
						<option th:each="giocatore : ${giocatori}" th:value="${giocatore.id}" th:text="${giocatore.nome}+ ' ' + ${giocatore.cognome}"></option>
					</select>
					<button type="submit" name="action" value="addGiocatore">Aggiungi</button>
				</div>

				<div th:if="${not #lists.isEmpty(squadra.giocatori)}">
					<h3>Giocatori selezionati:</h3>
					<ul>
						<li th:each="giocatore : *{giocatori}" th:text="${giocatore.nome}">Nome giocatore</li>
					</ul>
				</div>
				<div th:if="${#lists.isEmpty(squadra.giocatori)}">
					<span>Nessun giocatore selezionato</span>
				</div>
		<div>
			<button type="submit" name="action" value="save">Conferma</button>
			<button th:if="${squadra.id != null}" 
								        type="submit" 
								        th:formaction="@{/admin/squadre/{id}/delete(id=${squadra.id})}"
								        onclick="return confirm('Sei sicuro di voler eliminare questa squadra?');">
										Elimina Squadra
													</button>
												</div>
		</div>

	</form>
	</h1>
</body>

</html>