<!DOCTYPE html>
<html>

<head>
	<title>Crea un nuovo torneo</title>
</head>

<body>
	<form method="POST" th:action="@{/tornei}" th:object="${torneo}">
		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"> </p> 
			  </div>
		<div>
			Nome: <input type="text" th:field="${torneo.nome}"/>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			Anno: <input type="text" th:field="${torneo.anno}" />
			<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
		</div>
		<div>
			Descrizione: <input type="text" th:field="${torneo.descrizione}" />
		</div>
		<div>
			<button type="submit"> conferma </button>
		</div>

	</form>
	</h1>
</body>

</html>