<!DOCTYPE html>
<html style="background-color: lightsteelblue">
<head>
	<link rel="stylesheet" href="/css/stile2.css" />

	<title>

		Tornei
	</title>
	
</head>

<body>
	<h1  >Lista Tornei </h1>
	<div>
		
		<ul>
			<li style="color: darkslategray; font-family: monospace; font-size: 15px;" th:each="torneo : ${tornei}">
				<a th:href="@{'/tornei/'+ ${torneo.id}}" th:text="${torneo.nome}">Nome </a>
			</li>
		</ul>
	</div>
	<a style="color: red; font-family: monospace;" th:href="@{/}">Home</a>
</body>

</html>