<!DOCTYPE html>
<html>
 

<head>
	    <title>Tornei</title>
</head>

<body>
	<h1 th:text="${torneo.nome}">Nome torneo</h1>
	<div> Anno: <span th:text="${torneo.anno}"> 2000 </span>
	</div>
	 <div>
		 Descrizione: <span th:text="${torneo.descrizione}"> Descrizione</span>
	</div>
	<h2>Squadre partecipanti</h2>
			    <ul th:if="${not #lists.isEmpty(torneo.squadre)}">
			        <li th:each="squadra : ${torneo.squadre}" th:text="${squadra.nome}">Nome squadra</li>
			    </ul>
			    <p th:if="${#lists.isEmpty(torneo.squadre)}">Nessuna squadra iscritta a questo torneo.</p>

			    <a th:href="@{/tornei}">Torna alla lista tornei</a>
				
				
</body>

</html>